@import "tailwindcss";

@theme {
  
  --color-btnbackgnd: var(--color-blue-700);
  --color-btnbackdisabled: var(--color-gray-700);
  --color-btnbackhover: var(--color-blue-600);
  --color-btnborder:var (--color-blue-700);
  --color-btnborderdisabled:var (--color-gray-700);
  --color-btnborderhover:var (--color-blue-500);
  --color-focusring:var(--color-blue-500);

  --color-btnlightbackgnd: var(--color-blue-300);
  --color-btnlightbackdisabled: var(--color-gray-700);
  --color-btnlightbackhover: var(--color-blue-700);
  --color-btnlightborder:var (--color-blue-700);
  --color-btnlightborderdisabled:var (--color-gray-700);
  --color-btnlightborderhover:var (--color-white);

  --color-focusring:var(--color-blue-500);

  --color-backgnd: var(--color-blue-100);
  --color-txtbtn: var(--color-gray-200);
  --color-txtbtnhover: var(--color-white);
  --color-txtbtndisabled: var(--color-gray-400);
  --color-apptxt: var(--color-black);
  --color-higlighton: var(--color-yellow-500);
  --color-higlightoff: var(--color-black);
}

@layer theme {

  .thlight {
    
    --color-btnbackgnd: var(--color-gray-300);
    --color-btnbackdisabled: var(--color-gray-500);
    --color-btnbackhover: var(--color-gray-500);
    --color-btnborder:var(--color-black);
    --color-btnborderdisabled:var(--color-gray-500);
    --color-btnborderhover:var(--color-gray-500);
    --color-focusring:var(--color-gray-500);
    --color-backgnd: var(--color-gray-100);
    --color-txtbtn: var(--color-black);
    --color-txtbtnhover: var(--color-gray-200);
    --color-txtbtndisabled: var(--color-gray-700);
    --color-apptxt: var(--color-black);
    --color-higlighton: var(--color-black);
    --color-higlightoff: var(--color-black);
  }

  .thdark {
    --color-btnbackgnd: var(--color-gray-700);
    --color-btnbackdisabled: var(--color-gray-900);
    --color-btnbackhover: var(--color-gray-500);
    --color-btnborder:var(--color-gray-300);
    --color-btnborderdisabled:var(--color-gray-700);
    --color-btnborderhover:var(--color-gray-100);
    --color-focusring:var(--color-gray-100);
    --color-backgnd: var(--color-gray-900);
    --color-txtbtn: var(--color-white);
    --color-txtbtnhover: var(--color-gray-100);
    --color-txtbtndisabled: var(--color-gray-500);
    --color-apptxt: var(--color-white);
    --color-higlighton: var(--color-white);
    --color-higlightoff: var(--color-white);
  }
}
.AppContain {
  @apply text-xs md:text-base bg-backgnd text-apptxt min-h-dvh max-w-dvw overflow-y-auto overflow-x-clip;
}

.btn {
  @apply md:font-bold py-2 px-4 mx-1 my-1 rounded-full;
}

.btn-blue {
  @apply  bg-btnbackgnd text-txtbtn border-2 border-btnborder;
}
.btn-blue:disabled {
  @apply bg-btnbackdisabled text-txtbtndisabled border-2 border-btnborderdisabled;
}
.btn-blue:hover:not([disabled]) {
  @apply bg-btnbackhover text-txtbtnhover border-2 border-btnborderhover;
}
.btn-blue:focus {
  @apply ring-focusring ring-offset-0 ring-4 rounded-xl outline-0;
}

.btntbar {
  @apply md:font-bold py-2 px-2 xl:px-6 my-1 mx-0.25 lg:mx-1 rounded-md lg:rounded-lg;
}


.btn-light {
  @apply  bg-btnlightbackgnd text-txtbtn border-2 border-btnlightborder;
}
.btn-light:disabled {
  @apply bg-btnlightbackdisabled text-txtbtndisabled border-2 border-btnlightborderdisabled;
}
.btn-light:hover:not([disabled]) {
  @apply bg-btnlightbackhover text-txtbtnhover border-2 border-btnlightborderhover;
}
.btn-light:focus {
  @apply ring-focusring ring-offset-0 ring-2 rounded-xl outline-0;
}

.textedit {
  @apply md:font-bold py-2 px-4 mx-2 my-2 rounded-full border-2 border-btnborder;
}
.textedit:focus {
  @apply ring-focusring ring-offset-0 ring-4 rounded-xl outline-0;
}
.textedit:hover {
  @apply  border-2 border-txtbtnhover;
}

.centralgrid {
  @apply grid grid-cols-5 gap-0 md:w-4/5 xl:w-3/5 2xl:w-3/5 mx-auto items-center;
}

.select {
  @apply md:font-bold bg-btnbackgnd text-txtbtn px-4 py-2 mx-1 my-1 xl:min-w-40 2xl:min-w-80 rounded-full;
}

.select:focus {
  @apply ring-focusring ring-offset-0 ring-4 rounded-xl outline-0;
}

.select:disabled {
  @apply md:font-bold bg-btnbackdisabled text-txtbtndisabled border-2 border-gray-700;
}

.selectnum {
  @apply md:font-bold bg-btnbackgnd text-txtbtn px-4 py-2 mx-1 my-1 xl:min-w-20 2xl:min-w-40 rounded-full;
}

.selectnum:disabled {
  @apply md:font-bold bg-btnbackdisabled text-txtbtndisabled border-2 border-gray-700;
}

.selectnum option {
  @apply md:font-bold bg-btnbackgnd text-txtbtn rounded-full;
}
.selectnum option:hover {
  @apply md:font-bold text-2xl md:text-3xl  rounded-full my-4 mx-8;
}
.labelelm {
  @apply md:font-bold py-2 px-4 mx-1 my-1
}

.labellimit {
  @apply md:font-bold text-xl py-2 px-4 mx-1 my-1
}

.limiton {
  @apply text-higlighton;
}

.limitoff {
  @apply text-higlightoff;
}

.limitunknown {
  @apply text-higlightoff;
}

.hseparator {
  @apply text-apptxt bg-backgnd min-w-dvw py-1 px-1 mx-1 my-2 lg:mb-12;
}

.Group
{
  @apply flex-1 flex-col border-0 border-btnborder p-8 w-full box-border;
}

.GroupColumn
{
  @apply flex flex-row 
}

.div_column
{
  @apply flex flex-row w-full;
}


.btn_icon {
  @apply flex justify-center  gap-4;
}

.MakeColumn100
{
  @apply flex flex-row min-w-full max-w-full min-h-full max-h-full;
}

.ModalView {
  @apply text-xs md:text-xl md:font-bold bg-backgnd text-apptxt text-center mx-auto my-auto mt-4 min-h-full;
  /*
  color: black;
  background-color: white;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  min-height: 100%;
  */
}

.FormFieldset 
{
  @apply flex flex-col min-w-fit;
}

legend {
  @apply underline mt-2;
}

.MenuLink 
{
  @apply text-xs lg:text-lg font-semibold lg:font-bold block no-underline whitespace-nowrap mx-1 p-2  bg-backgnd text-apptxt border-0;
 
}
.MenuLink:hover
{
  @apply text-xs lg:text-lg font-semibold lg:font-bold block no-underline whitespace-nowrap mx-1 p-2  bg-btnbackhover text-txtbtnhover border-0 border-btnbackhover rounded-none;
  
}

h1  {
  @apply font-bold;
}

.toolbar {
  @apply ml-3 mt-0.5 mb-0.5;
}

.toolbar_active {
  @apply text-btnbackgnd;
}


