Package: desktopbraillerap-debian
Version: 0.8.1
Depends: libc6 (>=2.36-9+deb12u7), libc6 (<<2.37), zlib1g
Section: utils
Priority: optional
HomePage: https://www.braillerap.org
Package-type: binary
Architecture: amd64
Maintainer: Build with love by <contact@braillerap.org>
Description: Braille authoring tool for BrailleRAP open source embosser.
 DesktopBrailleRAP allow you to build a tangible page presentation. You can 
 insert svg graphics (in mm) and add some text area.Text areas are translated 
 into Braille and svg graphics are translated in sequence of Braille dots. The 
 result can be embossed on a BrailleRAP embosser.
