[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DesktopBrailleRAP
Comment=Braille authoring software for BrailleRAP
Exec=/usr/bin/desktopbraillerap-ubuntu
Terminal=false
Icon=/usr/share/icons/desktopbraillerap-icon.png
Keywords=braillerap
