
.App-loading
{
  height:100vh;
  width:100vw;
  background-color: black;
  color: white;
  text-align: center;
  
}
.AppContainer
{
  height:100vh;
  width:100vw;
  
  color: Black;
  overflow:hidden
}
.App
{
  display:grid;
  grid-template-columns: 5fr 4fr ;
  grid-template-rows: auto 100%;

  background-color: rgb(177, 167, 167);
  height:90%;
  max-height: 90%;
  max-width:100%;
    
  position:relative;
  box-sizing: border-box;
}
.AppHeader 
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

  width:100%;
  
  
  margin:0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  position:relative;
  
}

.Print
{
  display:flex;
  flex-direction: column;
  height:100%;
  margin-top: 0;
  padding-top: 0;
}
.PrintTitle
{
  flex:5;
  text-align:center;
}
.PrintCanvas
{
  flex:80;
  text-align:center;
  margin-top: 0;
  padding-top: 0;
  max-height:80%;
}
.App-Menu{
  flex:1;
  background-color:lightgray;
  
}

.disable ul {
  display:flex;
  flex-direction: row;
  
}

.disable li {
  flex:1;
  background:red;
}

.App-Work
{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  position:relative;
}

.App-function
{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: rgb(177, 167, 167);
  
  padding-left:0.5rem;
  padding-right:0.5rem;
  overflow-y:scroll;
  box-sizing: border-box;
  position:relative;
  
}
#canvasid 
{
  margin-top: 0;
  margin-left:0;
  /*border:1px solid black;*/
  /*
  border-right: 1px solid black;
  border-bottom: 1px solid red;
  */
  border:0px;
  width:100%;
  height:100%;
  background-color: white ;
  max-width: 100%;
  max-height: 100%;
  /*background-color: red;*/
}
#falsediv
{
  display:flex;
  flex-direction: column;
  height: 100%;
  background-color:  rgb(177, 167, 167);
  /*background-color: green;*/
  margin: 0;
}
#previewid
{

  /*border:1px solid black;*/
  border: 1px solid black;
  width:90%;
  height:97%;
  background-color: white ;
  margin-top: 0;
  padding-top: 0;
  max-width: 90%;
  max-height:97%;
}

.container
{
  
 max-width: 100%;

}
fieldset > legend
{
  font-size: 1.1em;
  font-weight: bolder;
  color:black !important;
}
fieldset > p
{
  margin-left:8%;
  margin-right:8%;
}

.Group
{
  flex:1;
  border: 1px solid black;
  padding: 1rem;
}

.GroupColumn
{
  display:flex;
  flex-direction: row;
  
}

.MakeColumn100
{
  display:flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 100%;
  
}
.MakeColumn
{
  display:flex;
  flex-direction: column;
  
}

.button-secondary {
  color: white !important;
  border-radius: 16px ! important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
  background: rgb(0, 120, 231) !important;
  /* this is a light blue */
}

.pure-button-secondary,
a.pure-button-secondary
{
    background-color: rgb(0, 120, 231) !important;
    color: #0e0d0d;
}

.toolbar {
  margin-right: 0.1rem;
  margin-top:0.2rem;
  margin-bottom:0.2rem;
  
  font-size: 1rem;
}
.toolbar_active {
  color:rgb(143, 98, 98) !important;
}

.Home {
  text-align:center;
  background-color:rgb(177, 167, 167);
  height:100%;
}

.menu_font {
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}

.select_param
{
  font-size: 1em;
  margin-left:1em;
  margin-right:1em;
  padding: 0em !important;
  height: 100%;
}
.select_modal
{
  font-size: 1em;
  margin-right: 0.5em;
  margin-left:0.5em;
  padding:0;
  height:80%;
}

.div_column
{
  display:flex;
  flex-direction: row;
  width:100%;
}

.ModalView {
  color: black;
  background-color: white;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  min-height: 100%;
}

.input {
  color: black !important;
  height: 100%;
  margin: 0.2em ! important;
}

.h2home
{
  margin-top: 5rem;
}

.datatree ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#appLabel
{
  display: inline-block;
  position:absolute;
   top:5px;
  left:25px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px white;
}

.patternlist {
  display: flex;
  flex-direction: column;
  width:80%; 
  margin-top: 1em;
}

.patternitem select {
  vertical-align: middle;
  margin-left: 1rem;
} 

.patternitem
{
  display: flex;
  flex-direction: row;
  width:100%; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.patterncontainer label
{
  font-size: 1.2em;
  font-weight: bolder;
  margin-right:1rem;
  margin-bottom:1rem;
  
}
.patterncontainer input
{
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  
  vertical-align: middle;
}

h1 {
  font-size: 1.4em !important;
  font-weight: bold;
}

/* alert box */
/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family:'Open Sans',sans-serif;
    line-height:normal;
    background:#e9f0f4;
    padding:0;
    margin:0;   
}
*/
.content {
    padding:0;
    margin:10% 15%;   
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert>p,.alert>ul {
    margin-bottom: 0;
}

.alert>p+p {
    margin-top: 5px;
}

.alert-dismissable {
    padding-right: 35px;
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}

.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.11);
}

.alert .sign {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    width: 25px;
    display: inline-block;
}

.alert-success {
    background-color: #dbf6d3;
    border-color: #aed4a5;
    color: #569745;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #98cce6;
    color: #3a87ad;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #f1daab;
    color: #c09853;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #e0b1b8;
    color: #b94a48;
}

.alert-white {
    background-image: linear-gradient(to bottom,#FFFFFF,#F9F9F9);
    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
    color: #404040;
    padding-left: 61px;
    position: relative;
}

.alert-white .icon {
    text-align: center;
    width: 45px;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #bdbdbd;
}

.alert-white .icon:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -6px;
    margin-top: -5px;
    background: #fff;
}

.alert-white.rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.alert-white.rounded .icon {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.alert-white .icon i {
    font-size: 20px;
    color: #FFF;
    left: 12px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}

.alert-white.alert-danger .icon,.alert-white.alert-danger .icon:after {
    border-color: #ca452e;
    background: #da4932;
}

.alert-white.alert-info .icon,.alert-white.alert-info .icon:after {
    border-color: #3a8ace;
    background: #4d90fd;
}

.alert-white.alert-warning .icon,.alert-white.alert-warning .icon:after {
    border-color: #d68000;
    background: #fc9700;
}

.alert-white.alert-success .icon,.alert-white.alert-success .icon:after {
    border-color: #54a754;
    background: #60c060;
}